@import '../../scss/main.scss';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

$border-color: #ffffff54;

.sidebar-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  width: calc($offcanvas-horizontal-width + 70px);
  background-color: $primary !important;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-track {
    background: $primary;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 0.5rem;
    border: 1px solid $white;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary;
  }

  @include media-breakpoint-down(lg) {
    width: 150px;
  }

  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.gaia-logo {
  padding: 1rem 2rem;
  object-fit: contain;
  cursor: pointer;
  width: 100%;

  @include media-breakpoint-down(xxl) {
    position: relative;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.navbar-toggle {
  display: none !important;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer !important;
  z-index: 1030;

  @include media-breakpoint-down(sm) {
    display: flex !important;
  }
}

.nav-parent {
  display: flex;
  align-items: center;
  flex-direction: row;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
}

.wallet-sidebar {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  color: $white;
  width: 100%;
  height: 100%;
  text-align: center;

  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
}

.sidebar-item {
  margin-left: 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include media-breakpoint-down(lg) {
    margin-left: 0;
  }

  .sidebar-link {
    padding: 0.5rem 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 4px;

    &.active {
      background-color: lighten($color: $primary, $amount: 30%);
    }

    &:hover {
      background-color: lighten($color: $primary, $amount: 30%);
    }

    &.active {
      background-color: lighten($color: $primary, $amount: 30%);
    }

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}
.navbar-footer {
  .sidebar-item {
    margin-left: 4px;
  }
}

.sidebar-collapse-button {
  display: none !important;
}

.wallet-sidebar-open {
  .wallet-sidebar {
    display: flex !important;
  }

  &.sidebar-wrapper {
    display: block !important;
    width: calc($offcanvas-horizontal-width + 70px) !important;
    position: absolute;
    z-index: 1031;
    height: 100vh;
  }

  .sidebar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .gaia-logo {
    display: flex;
  }

  .sidebar-collapse-button {
    display: flex !important;
    margin-top: 2rem;
    align-self: center;

    &:hover {
      background-color: lighten($color: $primary, $amount: 30%);
    }
  }

  .nav-parent {
    flex-direction: row;
  }
}
