@import '../../scss/main.scss';

.content-container {
  @extend .flex-center;
  flex-direction: column;
  background: #f9f9f9 0% 0% no-repeat padding-box;
}

.login-button {
  width: 100%;
  height: 48px;
  font-size: 16px;
}
