@import '../../../scss/main.scss';
@import '../../../../node_modules/bootstrap/scss/mixins';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';

.btn-add {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
}

.icon {
  width: 100%;
  height: 100% !important;
}

.modal {
}
