@import '../../../scss/main.scss';
@import '../../../../node_modules/bootstrap/scss/mixins';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';

.cards-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icon {
  width: 100%;
  height: 100% !important;
}

.btn-add {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
}
