@import '../../scss/main.scss';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

.table {
  border-radius: 4px !important;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  color: $primary;
}

.no-data {
  height: 60vh;
}
