@import '../../scss/main.scss';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

.card-document {
  // height: 230px;
  height: 270px;
  // width: 358px;
  width: 400px;
  border-radius: 1rem;
  // overflow: hidden;
}
